body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #ffe6ee;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.buttons {
  position: relative;
  width: 100%;
  height: 200px;
}

button {
  padding: 14px 22px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

#yes {
  background-color: #ff4d6d;
  color: white;
}

#no {
  background-color: #ddd;
  position: absolute;
}
.IMG_1537-img {
  width: 200px;        /* taille contrôlée */
  max-width: 20%;     /* responsive téléphone */
  margin: 20px 0;     /* espace au-dessus et en dessous */
  display: block;     /* empêche les comportements chelous */
}
